.App {
  display: grid;
  height: 100vh;
  grid-template-rows: [header] auto [content] 1fr [footer] 70px;
  font-family: sans-serif;
  max-width: 919px;
  margin: 0 auto;
}

.App__header {
  height: 70px;
  display: flex;
  background-color: #33ADE5;
  justify-content: space-between;
  box-shadow: 0px 0px 8px 1px rgb(163, 163, 163);
  position: relative;
}

.App__content {
  height: 100%;
  display: grid;
  overflow-y: scroll;
}

.headline {
  display: flex;
  color: white;
  align-items: center;
  text-align: center;
  margin-left: 15px;
  text-decoration: none;
}

.svgMail {
  width: 25px;
  margin-right: 8px;
  color: black;
}
