.update-content{
    text-align: center;
    margin-top: 12%;
}

.btnUpdate{
    border-radius: 20px;
    padding: 5px 15px;
    margin-top: 20px;
    cursor: pointer;
    outline: none;
    color: white;
    background-color: #2196f3;
    border: none;
    font-weight:bold;
    box-shadow: 0 0 4px #999;
}

.btnUpdate:active {
    background-color: #6eb9f7;
    background-size: 100%;
    transition: background 0s;
  }

.headlineUpdate{
    margin-bottom: 20px;
}

.hrUpdate{
    margin-left: 15px;
    margin-right: 15px;
}

.inputUpdate{
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px solid #707070;
    width: 50px;
    text-align: center;
}

.idLabel{
    margin-top: 30px;
    margin-bottom: 20px;
}

.sectionUpdate{
    display: flex;
    justify-content: space-around;
}