.text {
  text-align: justify;
}
.about-content{
  background-image: url("./images/backgroundHouse.jpeg");
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-color: #94d3f0;
}

.textContainer {
  background: rgba(148, 211, 240, 0.8);
  padding: 15px;
  animation: showPage 1000ms;
  height: 100%;
  align-self: flex-end;
  color: black;
  max-width: 682px;
  margin: 0 auto;
  margin-top: 37%;
}

@keyframes showPage {
  0% {
    transform: translateY(300px);
  }
  100% {
    transform: translateY(0px);
  }
}
