.estateDiv {
  background-color: white;
}

.rentBuyDiv {
  display: flex;
  justify-content: space-between;
  margin: 25px 20%;
}

.rent {
  cursor: pointer;
  color: #707070;
}

.rentClicked {
  cursor: pointer;
  color: #94d3f0;
}

.buy {
  cursor: pointer;
  color: #707070;
}

.buyClicked {
  cursor: pointer;
  color: #94d3f0;
}

.filterDivTotal {
  color: #707070;
  display: flex;
  flex-direction: column;
  border: 1px solid #707070;
  border-radius: 20px;
  margin: 0 auto;
  width: 345px;
}

.filterDivTotalActiv {
  color: #707070;
  display: flex;
  flex-direction: column;
  border: 1px solid #707070;
  border-radius: 20px;
  margin: 0 auto;
  width: 345px;
} 

.svgChevron {
  margin: 5px;
  animation: rotateIn 120ms linear;
  animation-fill-mode: forwards;
}

.svgChevronTurned {
  margin: 5px;
  animation: rotateOut 120ms linear;
}

@keyframes rotateIn {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(90deg);
  }
}

@keyframes rotateOut {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.inputDiv {
  display: flex;
}

.section1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.section2 {
  margin-top: 10px;
  margin: 0 auto;
  animation: fadeIn 280ms ease-in-out;
}

.section2Aktiv {
  margin-top: 10px;
  margin: 0 auto;
  opacity: 1;
  animation: fadeOut 280ms ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.input {
  width: 140px;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 15px;
  border: 1px solid #707070;
  margin: 5px;
}

input:focus {
  outline: none;
  border: 1px solid #000000;
}

.input2 {
  width: 140px;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 15px;
  border: 1px solid #707070;
  margin: 5px;
  margin-bottom: 15px;
}

.filterHeadlines {
  margin-left: 15px;
  margin-top: 12px;
  font-size: smaller;
}

.propertyCard {
  width: 345px;
  margin: 0 auto;
  margin-top: 25px;
  box-shadow: 0px 0px 5px 0px rgb(85, 85, 85);
  color: #707070;
  font-weight: 100;
  background-color: #dceff8;
  padding-bottom: 1px;
}

.propteryList{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(355px, 1fr));
  gap: 1rem;
  justify-items: center;
}

.adress {
  margin: 5px;
}

.linkBox {
  text-decoration: none !important;
}

.img {
  width: 345px;
  height: 230px;
  object-fit: cover
}

.shortData {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  margin: 10px;
}

.price{
  margin: 5px;
  width: 50%;
  text-align: right;
}

.shortData2{
  width: 50%;
}