.footer {
  height: 70px;
  display: flex;
  background-color: #94d3f0;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  box-shadow: 0px 0px 5px 0px rgb(85, 85, 85);
  position: relative;
}

.svgPhone {
  width: 25px;
  margin-right: 8px;
}

.fbIcon {
  margin: 15px 15px 15px 30px;
}

.instaIcon {
  margin: 15px;
}

.phoneNumberFooter {
  color: #707070;
}

.phoneIconNumber {
  display: flex;
  margin-right: 15px;
  align-items: center;
  text-decoration: none;
  color: black;
}

.a {
  text-decoration: none;
  color: black;
}

.phoneIconNumberA {
  text-decoration: none;
}
