.Navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
}

.Navigation__item a {
  text-decoration: none;
  color: #707070;
  margin-left: 5px;
}

.Navigation__item a.active {
  color: black;
  font-weight: bold;
}

.menuIcon {
  height: 36px;
  margin: 15px;
}
