.Navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
}

.Navigation__item a {
  text-decoration: none;
  color: #707070;
  margin-left: 5px;
}

.Navigation__item a.active {
  color: black;
  font-weight: bold;
}

.menuIcon {
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
  height: 36px;
  margin: 15px;
}

.Menu {
  position: absolute;
  max-width: 350px;
}

.MuiMenu-paper {
  width: 70%;
  left: 50px;
  top: 30px;
}

.MuiMenu-list {
  background-color: #dceff8;
  color: #707070;
  text-decoration: none;
  border-bottom: 1px solid #707070;
  width: 100%;
}

.NavLink1 {
  background-color: #dceff8;
  color: #707070;
  text-decoration: none;
}

.parentDivMenu{
  max-width: 375px;
}